<header class="header">
  <div class="header__logo">
    <strong>
      finced
    </strong>
  </div>

  <nav class="header__navigation">
    <ul class="header__list">
      {{#each @navLinks as |navLink|}}
        <li class="header__list-item">
          <a class="header__link" href="#">{{navLink}}</a>
        </li>
      {{/each}}
    </ul>
  </nav>

  <Button
    @smallText="Download on here"
    @text="AppStore"
    @theme="dark"
    @btnImg="images/apple.svg"
    @btnImgAlt="apple"
  />

</header>